@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Montserrat;
    margin: 0px;
    position: relative;
}

input {
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 4px;
    font-size: 20px;
}

textarea {
    font-family: Montserrat;
    font-size: 12px;
}

textarea:focus {
    outline-width: 0;
}

#container {
    position: relative;
}

.mapFullScreen {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexAlign {
    align-items: center;
}