header {
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:25px;
}

header {
    font-weight: bold;
}

#logoutButton {
    transition: transform 0.3s;
}

#logoutButton:hover {
    transform: translate(6px, 0px);
}

header p, header h2, header a {
    text-shadow: 0px 0px 20px #BCBCBC !important;
}


