#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 11px;
    position: absolute;
    z-index: 999;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#login form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#login form input {
    width: 100%;
    border: 0px;
    padding: 7px 10px;
    font-size: 16px;
    background-color: #EFEFEF;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

#login form input[type='submit']{
    background-color: #2075a7;
    color: white;
    transition: 0.2s ease-in-out background-color;
    cursor: pointer;
    !important;
}

#login form input[type='submit']:hover{
    background-color: #1b638d;

}

